body {
    background-color: rgb(224, 214, 184);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.title {
    font-size: 50px;
    color: rgb(63, 63, 63);
}

.li_elem{
    font-size: 15px;
    color: rgb(20, 20, 20);
}

.page_link{
    font-size: 18px;
    color: darkorange;
    text-decoration: none;
    
}